.detail{
  padding:5px 0;
  >label{
    display: inline-block;
    vertical-align: middle;
  }
  .explain{
    width: 85px;
    text-align: right;
    vertical-align: middle;
    font-weight: 600;
  }
  .explain2{
    width: 85px;
    text-align: right;
    vertical-align: top;
    font-weight: 600;
  }
  .result{

  }
  .result2{
    width:187px;
  }
  .result3{
    position: relative;
    text-decoration: underline;
    color: cornflowerblue;
    cursor: pointer;
  }
  .result-large{
    width: 77%;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}
